// Copyright 2018-2024 Sam Windell
// SPDX-License-Identifier: GPL-3.0-or-later

#include "resources.h"

#ifdef SIDEBAR_IMAGE_PATH
SIDEBAR_IMAGE_RC_ID RAW_DATA_TYPE SIDEBAR_IMAGE_PATH
#endif

CLAP_PLUGIN_RC_ID RAW_DATA_TYPE CLAP_PLUGIN_PATH
VST3_PLUGIN_RC_ID RAW_DATA_TYPE VST3_PLUGIN_PATH

