# Copyright 2024 Sam Windell
# SPDX-License-Identifier: CC0-1.0

Diagnostics:
  UnusedIncludes: Strict
  Suppress: [ "unused-function" ]
CompileFlags:
  CompilationDatabase: .floe-cache/  # Extra search path for compile_commands.json
